rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Solo usuarios autenticados pueden subir/ver las fotos de productos.
    match /productos/{file} {
      allow read, write: if request.auth != null
                         && request.resource.size < 8 * 1024 * 1024; // máx 8 MB
    }
  }
}
